[Desktop Entry]
Name=Update Pi and Ham Software
GenericName=Update Pi and Ham Software
Comment=Update the Raspberry Pi OS and applications
Exec=lxterminal --geometry=90x30 -t "Update Apps/OS" -e "/usr/local/bin/updatepi.sh"
Icon=/usr/share/raspberrypi-artwork/raspitr.png
Terminal=false
Type=Application
Categories=HamRadio;
Comment[en_US]=Update Pi and Ham Software
